.searchForm {
  margin-bottom: 20px;
  padding-top: 20px;

  input {
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
  }

  input[type="search"] {
    width: 100%;

    &::-webkit-search-cancel-button {
      cursor: pointer;
    }
  }
}
